DATAFactory/pipelines/ingestion/pl_ingest_population.json
{
    "name": "pl_ingest_population",
    "properties": {
        "activities": [
            {
                "name": "check if file exists",
                "type": "Validation",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_population_by_age_gz",
                        "type": "DatasetReference"
                    },
                    "timeout": "0.00:02:00",
                    "sleep": 15
                }
            },
            {
                "name": "get file metadata",
                "type": "GetMetadata",
                "dependsOn": [
                    {
                        "activity": "check if file exists",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.00:03:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_population_by_age_gz",
                        "type": "DatasetReference"
                    },
                    "fieldList": [
                        "columnCount",
                        "exists",
                        "size"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "If coulmn count matches",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "get file metadata",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(activity('get file metadata').output.columnCount, 13)",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "send email",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.00:01:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "url": "http:file_uncompatabless",
                                "method": "POST",
                                "body": "not found dummey"
                            }
                        }
                    ],
                    "ifTrueActivities": [
                        {
                            "name": "copy_population_data_copy1",
                            "description": "It copies population data from blob storage to adls",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.00:05:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "AzureBlobStorageReadSettings",
                                        "recursive": true,
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "ds_population_by_age_gz",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "ds_population_raw_tsv",
                                    "type": "DatasetReference"
                                }
                            ]
                        },
                        {
                            "name": "Delete file after processed",
                            "type": "Delete",
                            "dependsOn": [
                                {
                                    "activity": "copy_population_data_copy1",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.00:00:05",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "ds_population_by_age_gz",
                                    "type": "DatasetReference"
                                },
                                "enableLogging": false,
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "folder": {
            "name": "ingestion"
        },
        "annotations": [],
        "lastPublishTime": "2023-01-17T09:55:58Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}